<template>
  <div class="card">
    <div class="card__header">
      <h3 :class="{'card__header--small': question.question_label.length > 54 !== null}">{{ question.question_label }}</h3> 
      <!-- <span v-if="question.question_explanation">{{ question.question_explanation }}</span> -->
    </div>
    <div class="card__body">
      <vue-simple-scrollbar>
        <radio-group :options="question.options" @selected="selected"></radio-group>
      </vue-simple-scrollbar>
    </div>
  </div>
</template>

<script>
import RadioGroup from './RadioGroup'
import VueSimpleScrollbar from 'vue-simple-scrollbar'

export default {
  name: "card",
  components: {
    'radio-group': RadioGroup,
    VueSimpleScrollbar
  },
  props: {
    question: {
      type: Object,
      default: () => { return {} },
      description: "Data for card"
    }
  },
  methods: {
    selected(value) {
      let step = this.$store.state.step
      this.$set(this.$store.state.answers, step, value)
    }
  }
};
</script>
<style lang="scss">
  @import './../../node_modules/vue-simple-scrollbar/dist/vue-simple-scrollbar.css';

  .ss-content {
    padding: 0px;
    width: 100%;
    overflow: hidden;
  }

  .card {
    position: relative;
  
    &__header {
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: center;

      h3 {
        font-family: "NettoWeb W03", Roboto, "Helvetica Neue", Arial,sans-serif;
        font-size: 1.25rem;
        font-weight: 900;
        color: inherit;
        color: #17404d;
        padding: 0px;
        margin: 0px;
      }

      span {
        color: #929292;
        line-height: 14px;
        font-size: .875rem;
        font-family: "Adelle SansW01", Roboto, "Helvetica Neue", Arial, sans-serif;
      }

      &--small {
        font-size: 1.1rem !important;
      }
    }

    &__body {
      position: relative;
      height: 391px;

      @media screen and (max-width: 600px) {
        height: 338px;
      } 
    }
  }
</style>