<template>
  <div class="loader"></div>
</template>

<script>
export default {
  name: "preloader"
};
</script>

<style lang="scss">

  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #ffca57; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 45% auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>