<template>
  <div class="qunofunnels">
    <stepper v-show="cards !== undefined" :cards=cards></stepper>
    <preloader v-show="cards === undefined"></preloader>
  </div>
</template>

<script>
import Stepper from './Stepper'
import Preloader from './Preloader'
export default {
  name: "QunoFunnels",
  props: ['id', 'lang'],
  components: {
    'stepper': Stepper,
    'preloader': Preloader
  },
  props: {
    id: {
      type: String,
      default: null
    },
    lang: {
      type: String,
      default: null
    },
    gclid: {
      type: String,
      default: null
    },
    utm_term: {
      type: String,
      default: null
    },
    utm_source: {
      type: String,
      default: null
    },
    utm_campaign: {
      type: String,
      default: null
    },
    utm_medium: {
      type: String,
      default: null
    },
    whatever: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      hello: '',
    }
  },
  computed: {
    cards() {
      let state = this.$store.state.data
      if(state !== null) {
        let questions = state.data.allFunnels.edges[0].node.questions
        this.$store.state.answers = new Array(questions.length)
        return questions
      }
    }
  },
  mounted() {
    
    var hash = document.location.search.replace('?','').split('&')
    hash.forEach(param => {
      var value = param.split('=')
      this.$set(this.$store.state.params, value[0], value[1])
    });

    // load data
    this.$store.dispatch('loadData');

    // load intlTelInput script
    var tel = document.createElement('script');
    tel.setAttribute('src','https://intl-tel-input.com/node_modules/intl-tel-input/build/js/intlTelInput.js?68');
    document.head.appendChild(tel);

    var utils = document.createElement('script');
    utils.setAttribute('src','https://intl-tel-input.com/node_modules/intl-tel-input/build/js/utils.js?18');
    document.head.appendChild(utils);
  }
};
</script>

<style lang="scss">
@import './../../assets/_normalize.scss';

@font-face {font-family: "AdelleSansW01-Regular";
  src: url("../../assets/fonts/adelle/AdelleSansW01-Regular.eot"); /* IE9*/
}

@font-face {font-family: "FF Netto";
  src: url("./../../assets/fonts/netto/NettoRegular.eot"); /* IE9*/
}

</style>  