f<template>
  <div class="radio-group">
    <div v-for="(option, index) in options" 
        :key="index" class="radio-group__item"
        :class="{'selected': optionIndex == index}" 
        @click="selected($event, option.option_value, index)">
        <img v-if="option.option_icon !== null" :src="option.option_icon.url"></img>
        <span v-if="option.option_label">{{ option.option_label }}</span>
    </div>
  </div>
</template>
<script>
export default {
  name: "radio-group",
  data() {
    return {
      optionIndex: null
    };
  },
  props: {
    options: {
      type: Array,
      default: () => { return [] }
    }
  },
  methods: {
    selected($event, value, index) {
      this.optionIndex = index
      this.$emit('selected', value)
    }
  }
};
</script>
<style lang="scss">

  .radio-group {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(8%,1fr);
    grid-row-gap: 4vmin;

    &__item {
      background-color: #f6f7fb;
      color: #585a51;
      border-radius: 15px;
      font-size: .875rem;
      font-weight: 700;
      padding: 0 1em;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: start;
      justify-content: flex-start;
      cursor: pointer;
      height: 100%;
      -webkit-transition: box-shadow .2s ease-in,-webkit-transform .2s ease-in;
      transition: box-shadow .2s ease-in,-webkit-transform .2s ease-in;
      transition: transform .2s ease-in,box-shadow .2s ease-in;
      transition: transform .2s ease-in,box-shadow .2s ease-in,-webkit-transform .2s ease-in;
      box-shadow: none;

      img {
        margin-right: 1em;
        max-height: 100%;
      }

      span {
        font-family: "Adelle SansW01", Roboto, "Helvetica Neue", Arial, sans-serif;
      }
    }

    &__item:hover {
      background: #E3D9CA;
    }

    &__item.selected {
      background: #ffca57;
    }
  }
</style>
