<template>
  <div class="stepper">
    <div v-show="!lastItem" v-for="(card, index) in cards" :key="index" class="stepper__item">
      <div v-if="step == index">
        <card :question=card.question :step=index></card>
        <button class="stepper__continue" :disabled="answer" @click.prevent="nextStep(card.question)">
          <span v-html="continueBtnLabel"></span>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.917px" height="17.08px" viewBox="0 0 15.917 17.08" enable-background="new 0 0 15.917 17.08" xml:space="preserve">
            <polygon fill="#FFFFFF" points="7.662,0 6.833,0.822 14.008,7.996 0,7.996 0,9.163 13.924,9.163 6.837,16.251 7.659,17.08 15.913,8.825 15.917,8.254 "></polygon>
          </svg>
        </button>
      </div>
    </div>
    <div v-show="lastItem">
      <submit-form></submit-form>
    </div>
  </div>
</template>
<script>
import Card from './Card'
import SubmitForm from './SubmitForm'
import Mixpanel from 'mixpanel-browser'
export default {
  name: "stepper",
  components: {
    'card': Card,
    'submit-form': SubmitForm
  },
  props: {
    cards: {
      type: Array,
      default: () => { return [] }
    }
  },
  computed: {
    answer() {
      let state = this.$store.state
      return state.answers[state.step] == undefined
    },

    step: {
      get() {
        return this.$store.state.step
      },
      set(value) {
        this.$store.state.step = value
      }
    },

    lastItem() {
      return this.step == this.cards.length ? true : false
    },

    continueBtnLabel() {
      return this.$store.state.data.data.allFunnels.edges[0].node.continue_button_label;
    }
  },
  mounted() {
    // set link to first step
    this.updateUrl()
  },
  methods: {
    nextStep(question) {
      this.step++;
      this.updateUrl()
      this.$store.dispatch('sendTrackingEvent', question.question_label)
    },
    updateUrl() {
      let hash = document.location.search
      let params = new URLSearchParams(hash);
      params.set('step', this.step + 1)
      window.history.pushState(`Step ${this.step}`, `Step ${this.step}`, '?' + params.toString());
    }
  }
};
</script>
<style lang="scss">
  .stepper {
    background: #ffffff;
    border-radius: 5px;
    max-width: none;

    &__continue {
      outline: 0;
      display: block;
      background-color: #ff6f31;
      color: #fff;
      border-radius: 5px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 1em;
      padding: 13px 15px;
      width: 100%;
      border: none;
      border-radius: 20px;
      cursor: pointer;

      span { 
        font-family: "Adelle SansW01", Roboto, "Helvetica Neue", Arial, sans-serif;
        vertical-align: middle;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-style: normal;
        border: 0;
        text-decoration: none;
        font-size: .9em;
      }

      svg {
        vertical-align: middle;
        margin-left: 5px;
        fill: #fff;
        position: absolute;
        right: 35px;

        polygon {
          fill: #ffffff;
        }
      }
    }

    &__continue:active, &__continue:focus, &__continue:hover {
      outline: 0;
      background-color: #ff8753;
    }

    &__continue:disabled {
      background-color: #f6f7fb;
      color: #666666;

      svg {
        background-color: #f6f7fb;
        fill: #666666;

        polygon {
          fill: #666666;
        }
      }
    }
  }
</style>