<template>
  <form class="submit-form">
    <div class="submit-form__header">
      <h3 v-html="contactData().contact_data_step_label"></h3>
      <span></span>
    </div>
    <div class="row">
      <div class="col col-6" >
        <label for="firstname" v-html="contactData().firstname_label"></label>
        <input v-model="first_name" type="text" name="firstname" @input="validated[0] = true" :class="{'error': first_name.length == 0 && validated[0]}">
        <div class="error-wrapper">
          <span v-show="first_name.length == 0 && validated[0]" class="error" v-html="contactData().firstname_error">Please tell us your first name</span>
        </div>
      </div>

      <div class="col col-6">
        <label for="lastname" v-html="contactData().lastname_label"></label>
        <input v-model="last_name" type="text" name="lastname" @input="validated[1] = true" :class="{'error': last_name.length == 0 && validated[1]}">
        <div class="error-wrapper">
          <span v-show="last_name.length == 0 && validated[1]" class="error" v-html="contactData().lastname_error"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12">
        <label for="email" v-html="contactData().email_label"></label>
        <input v-model="email" type="email" name="email" @blur="blur=true" @input="checkEmail(); validated[2] = true;" :class="{'error': !validated[3] && validated[2]}">
        <div class="error-wrapper">
          <span v-show="(email.length == 0 && validated[2]) || (!validated[3] && validated[2] && blur)" class="error" v-html="contactData().email_error"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12">
        <label for="phonenumber" v-html="contactData().phone_label"></label>
        <input v-model="phone_number" type="tel" id="phone" @input="checkPhone()" :class="{'error': phone_number.length == 0 && validated[4]}" style="width: 100%;">
        <div class="error-wrapper">
          <span v-show="phone_number.length == 0 && validated[4]" class="error" v-html="contactData().phone_error"></span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 submit-form__terms" :class="{'submit-form__temrs--required': !terms && validated[5]}">
        <label class="container">
          <input v-model="terms" type="checkbox" name="terms" value="true" @change="validated[5] = terms">
          <span class="checkmark"></span>
        </label>
        <span v-html="formData"></span>
      </div>
    </div>

    <div class="row">
      <button class="stepper__continue" :disabled="!validate()" @click.prevent="sendData()">
        <span v-html="contactData().button_label"></span>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.917px" height="17.08px" viewBox="0 0 15.917 17.08" enable-background="new 0 0 15.917 17.08" xml:space="preserve">
          <polygon fill="#FFFFFF" points="7.662,0 6.833,0.822 14.008,7.996 0,7.996 0,9.163 13.924,9.163 6.837,16.251 7.659,17.08 15.913,8.825 15.917,8.254 "></polygon>
        </svg>
      </button>
    </div>
  </form>
</template>

<script>
import axios from 'axios'
export default {
  name: "submit-form",
  data() {
    return {
      first_name: '',
      last_name: '',
      email: '',
      phone_number: '',
      terms: false,
      validated: new Array(6).fill(false),
      iti: null,
      loaded: false,
      blur: false
    }
  },
  computed: {
    formData() {
      let state = this.$store.state.data
      if(state !== null) {
        let contact_data = state.data.allFunnels.edges[0].node.contact_data_step
        let contact_text = contact_data.legal_text[0].text
        contact_text = contact_text.replace('Terms and Conditions', '<a href="https://www.qunomedical.com/en/terms-and-conditions" target="_blank" rel="noopener">Terms and Conditions</a>')
        contact_text = contact_text.replace('Privacy Policy', '<a href="https://www.qunomedical.com/en/privacy" target="_blank" rel="noopener">Privacy Policy</a>')
        contact_text = contact_text.replace('revoked', '<a href="https://www.qunomedical.com/en/imprint" target="_blank" rel="noopener">revoked</a>')
        return contact_text
      }
    }
  },
  mounted() {
    setTimeout(() => {
      this.loaded = true
      var input = document.querySelector("#phone");
      this.iti = window.intlTelInput(input, {
        initialCountry: "auto",
        geoIpLookup: callback => {
          
          // fetch and store data to state
          axios.get('https://ipinfo.io/json', { params: { token: '1545cd8c69cf77' }}).then(response => {
            this.$store.state.ip = response.data.ip
            callback(response.data.country)
          })
          .catch((error) => {
            this.$store.state.errors.push(error)
          });

        },
        utilsScript: "./../../vendor/tel/js/utils.js"
      });
    }, 1000)
  },
  methods: {
    checkEmail() {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      this.validated[3] = re.test(String(this.email).toLowerCase());
    },

    validate() {
      return this.validated.every(v => v === true);
    },

    checkPhone() {
      if(this.loaded) {
        this.validated[4] = true
        this.phone_number = this.iti.getNumber()
        return this.iti.isValidNumber()
      }
      else {
        return false
      }
    },

    contactData() {
      let state = this.$store.state.data
      if(state !== null) {
        return state.data.allFunnels.edges[0].node.contact_data_step;
      }
      else {
        return {}
      }
    },

    sendData() {

      // send tracking event to Mixpanel
      var continue_label = this.$store.state.data.data.allFunnels.edges[0].node.contact_data_step.contact_data_step_name;
      this.$store.dispatch("sendTrackingEvent", continue_label);

      // data
      var state = this.$store.state
      var json = state.data;
      var node = json.data.allFunnels.edges[0].node;
      var data = {};
      
      // construct
      if(json !== null) {

        // info
        data.first_name = this.first_name;
        data.last_name = this.last_name;
        data.email = this.email;
        data.intl_phone = this.phone_number;

        // parameters
        data.next_page = node.thank_you_url.url
        data.language = json.language;
        data.treatment = node.treatment_group.reporting_group;
        data.jlp = json.id;
        
        // answeers
        data.additional_info = {}
        node.questions.forEach((q, index) => {
          data.additional_info[q.question.salesforce_field] = this.$store.state.answers[index];
        });
      }

      if(state.data !== null) {
        var treatment_group = state.data.data.allFunnels.edges[0].node.treatment_group
      }

      // send data to API
      this.$store.dispatch('sendData', {...data, ...this.$store.state.params, ...treatment_group});
    }
  }
};
</script>
<style lang="scss">
@import './../../vendor/tel/css/intlTelInput.min.css';

.submit-form {

  .iti__country-name {
    font-family: "NettoWeb W03", Roboto, "Helvetica Neue", Arial,sans-serif;
  }

  &__header {
    display: flex;
    flex-direction: column;
    height: 63px;
    justify-content: center;

    h3 {
      font-family: "NettoWeb W03", Roboto, "Helvetica Neue", Arial,sans-serif;
      font-size: 1.25rem;
      font-weight: 900;
      color: inherit;
      color: #17404d;
      padding: 0px;
      margin: 0px;
      font-size: 1.1rem;
    }

    span {
      color: #929292;
      line-height: 14px;
      font-size: .875rem;
      font-family: "Adelle SansW01", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;

    .col {
      display: flex;
      flex-direction: column;

      span.error {
        font-family: "Adelle SansW01", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #c62828;
        display: block;
        font-size: 75%;
        height: 15px;
        padding-top: 2px;
      }

      .error-wrapper {
        display: block;
        min-height: 12px;
      }

      &-6 { width: 49%; }
      &-12 { width: 100%; }
    }
  }

  input {
    font-family: "Adelle SansW01", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: 1px transparent solid;
    outline: none;
    border: 1px #eee solid;
    padding: 10px 10px;
    border-radius: 3px;
  }

  input.error {
    border: 1px #c62828 solid !important;
  }

  input:focus {
    border: 1px #546e7a solid;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  label {
    font-family: "Adelle SansW01", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: .125rem;
    color: #585a51;
    font-weight: 700;
    font-size: .9em;
  }

  &__terms {
    font-family: "Adelle SansW01", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;

    span {
      font-size: .6em;
      line-height: 1.5em;

      a {
        cursor: pointer;
        font-weight: 600;
        color: #585a51;
        text-decoration: none;
      }
    }

    &--error::before {
      content: "👉🏼";
      color: #c62828;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      height: 20px;
      position: absolute;
      left: -21px;
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
      opacity: 0;
      -webkit-transition: opacity .2s ease-out, -webkit-transform .2s ease-in-out;
      transition: opacity .2s ease-out, -webkit-transform .2s ease-in-out;
      transition: transform .2s ease-in-out, opacity .2s ease-out;
      transition: transform .2s ease-in-out, opacity .2s ease-out,-webkit-transform .2s ease-in-out;
    }
  }

  /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px #585a51 solid;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #546e7a;
    width: 15px;
    height: 15px;
    border-radius: 2px;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #546e7a;
    height: 15px;
    width: 15px;
    border-radius: 2px;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

</style>
